.q-wrapper{
    padding:6rem 3rem;
    display: flex;
    justify-content: center;
    column-gap: 7rem;
}
.text-part{
    width: 500px;
    min-width: 350px;
    padding-top: 2.5rem;
}
.text-part > h1{
    font-size: 2.9rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}
.text-part > h1 > span{
    color: #FF6542;
}
.text-part > p{
    font-size: 1.2em;
    color: gray;
    line-height: 1.4em;
    margin-bottom: 1rem;
    letter-spacing: 0.7px;
}
.text-part > button{
    margin-top:3rem;
    margin-bottom: 2rem;
    background-color: #FF6542;
    width: 15rem;
    height: 60px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 200;
    transition: 0.4s all;
    cursor: pointer;
}
.text-part > button:hover{
    scale: 1.1;
}
@media (width <= 1076px) {
    .q-wrapper{
        flex-direction: column;
        align-items: center;
        padding:2rem;
    }
    .text-part{
        width: 100%;
    }
    .image-part > img{
        width: 100%;
    }
}