@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  font-family: 'Palanquin', sans-serif;
}
@media (width >= 1600px) {
  body{
    margin: auto;
    width:1500px;
  }
}
